{
    "POSTGRES_USER": "postgres",
    "POSTGRES_PASS": "thisisnotprod",
    "POSTGRES_DB": "eastwood",
    "POSTGRES_HOST": "postgres",
    "ZF_URL": "https://zonefiles.io/a/",
    "ZF_ZONE": "1",
    "ZF_API_KEY": "getyourownapikey",
    "SLACK": {
        "username": "Eastwood Brand Monitor",
        "icon_emoji": ":male-detective:"
    },
    "MONITORED_BRANDS": [{
        "keywords": ["your", "brand"],
        "threshold": 3,
        "exclusions": ["yourbrandhomepage.com", "otherwebsitesyouwouldwanttoexclude.com"],
        "webhook": "getyourownslackwebhook"
    }]
}
