{
    "POSTGRES_USER": "postgres",
    "POSTGRES_PASS": "thisisnotprod",
    "POSTGRES_DB": "eastwood",
    "POSTGRES_HOST": "postgres",
    "ZF_URL": "https://zonefiles.io/a/",
    "ZF_ZONE": "1",
    "ZF_API_KEY": "getyourownapikey",
    "MONITORED_BRANDS": [{
        "keywords": ["your", "brand"],
        "distance": 3,
        "webhook": "getyourownslackwebhook"
    }]
}
